  name: AndroidBuild
  on :
    pull_request:
      branches :  [ master ]
    push:
      branches : [ master]
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4.1.0

        - name: Setup Java JDK
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'
            cache: gradle

        - name: Grant execute permission for gradlew
          run: chmod +x gradlew

        - name: Build with Gradle
          run: ./gradlew build

        - name: Upload a Build Artifact
          uses: actions/upload-artifact@v4
          with:
           name: AndroidCICD.apk
           path: app/build/outputs/apk/debug/app-debug.apk